In [1]:
from deep_translator import GoogleTranslator
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
from process_text import cleanup_sentence

In [3]:
import os
import ssl
ssl._create_unverified_context = ssl._create_unverified_context
os.environ['http_proxy'] = "http://proxy.statestr.com:80" 
os.environ['https_proxy'] = "http://proxy.statestr.com:80" 
os.environ['CURL_CA_BUNDLE'] = ""

In [4]:
def translate(text, source_lang, dest_lang):
    return GoogleTranslator(source=source_lang, target=dest_lang).translate(text)

In [7]:
EDIT_DISTANCE_METHOD = False

In [8]:
if EDIT_DISTANCE_METHOD:
    train_df_with_score = pd.read_csv('top_50_sections_scores.csv')
else:
    train_df_with_score = pd.read_csv('top_50_sections_scores_original.csv')
train_df_with_score

                            section_name       score
0                   Chairman’s Statement  258.323541
1                   Chairman’s statement  248.386919
2                             Highlights  204.876537
3               Chief Executive’s Review  117.712061
4               Chief Executive’s review  104.321819
5                                  start   93.945820
6                   Financial Highlights   59.091292
7                   Financial highlights   44.450977
8            Chief Executive’s Statement   38.947681
9               Chief Executive’s Report   32.266886
10           Chief Executive’s statement   31.808761
11                           At a glance   29.994573
12      Chief Executive Officer’s review   22.475190
13                     Group at a glance   20.913041
14              Chief executive’s review   19.607253
15                  CHAIRMAN’S STATEMENT   18.053817
16      Chief Executive Officer’s Review   16.648376
17                          Our strategy   16.622030
18                           At a Glance   15.234880
19                     Group at a Glance   14.992335
20   Chief Executive Officer’s Statement   11.697360
21      Notice of Annual General Meeting   11.418824
22                Highlights of the year   10.015084
23                  chairman’s statement   10.002908
24   Chief Executive Officer’s statement    9.996917
25              Chief Executive’s report    9.877962
26              CHIEF EXECUTIVE’S REVIEW    8.781821
27               Chairman’s introduction    8.774966
28                     Chairman’s letter    8.443037
29                 Chairman’ s statement    8.323987
30                              Strategy    8.157162
31                            HIGHLIGHTS    7.818993
32                     Chairman’s review    7.798187
33               Shareholder Information    7.651822
34        Group Chief Executive’s review    7.530078
35                          Our Strategy    7.366730
36              Our business at a glance    7.170718
37                Performance highlights    6.959163
38               Shareholder information    6.642051
39                            highlights    6.221415
40                       Business review    6.129283
41              chief executive’s review    5.647271
42        Group Chief Executive’s Review    5.402063
43                Operational Highlights    4.944204
44                     Chairman’s Letter    4.917451
45            Key performance indicators    4.906809
46           Chief executive’s statement    4.750434
47                        Key Highlights    4.424332
48  Financial and Operational Highlights    4.422360
49                  FINANCIAL HIGHLIGHTS    4.359457

In [9]:
train_df_with_score['clean_english'] = train_df_with_score.section_name.apply(lambda x: cleanup_sentence(x))
train_df_with_score.head()

               section_name       score           clean_english
0      Chairman’s Statement  258.323541      chairman statement
1      Chairman’s statement  248.386919      chairman statement
2                Highlights  204.876537              highlights
3  Chief Executive’s Review  117.712061  chief executive review
4  Chief Executive’s review  104.321819  chief executive review

In [10]:
for index, row in train_df_with_score.iterrows():
    if index % 10 == 0:
        print('processing row number' , index)
    train_df_with_score.at[index, 'spanish'] = translate(row['section_name'], 'en', 'es')
    train_df_with_score.at[index, 'greek'] = translate(row['section_name'], 'en', 'el')

processing row number 0
processing row number 10
processing row number 20
processing row number 30
processing row number 40

In [11]:
train_df_with_score['clean_spanish'] = train_df_with_score.spanish.apply(lambda x: cleanup_sentence(x, 'es'))
train_df_with_score['clean_greek'] = train_df_with_score.greek.apply(lambda x: cleanup_sentence(x, 'el'))
train_df_with_score.head()

,section_name,score,clean_english,spanish,greek,clean_spanish,clean_greek
0,Chairman’s Statement,258.323541,chairman statement,Declaración del presidente,Δήλωση Προέδρου,declaración presidente,δήλωση προέδρου
1,Chairman’s statement,248.386919,chairman statement,declaración del presidente,Δήλωση του προέδρου,declaración presidente,δήλωση προέδρου
2,Highlights,204.876537,highlights,Reflejos,Καλύτερες στιγμές,reflejos,καλύτερες στιγμές
3,Chief Executive’s Review,117.712061,chief executive review,Revisión del director ejecutivo,Επιθεώρηση Διευθύνοντος Συμβούλου,revisión director ejecutivo,επιθεώρηση διευθύνοντος συμβούλου
4,Chief Executive’s review,104.321819,chief executive review,Revisión del director ejecutivo,Αναθεώρηση του Διευθύνοντος Συμβούλου,revisión director ejecutivo,αναθεώρηση διευθύνοντος συμβούλου

In [15]:
train_df_with_score.shape

(50, 7)

In [12]:
train_df_with_score.to_csv('multi_lingual_cleaned_toc_sections_original.csv', index=False)

In [13]:
import pickle
pickle.dump(train_df_with_score, open('multi_lingual_cleaned_toc_sections_original.pkl', 'wb'))